body {
   font-family: 'New Tegomin', sans-serif;
   font-size: 18px;
   line-height: 27px;
   font-weight: 300;
   background-color:#0e0e0e;
   }
   
   a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
   }

   .container {
      max-width: 1220px;
      margin:0 auto;
      padding: 0 15px;
      position: relative;
      z-index: 20;
   }
   .subtitle {
      color: #fff;
      font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
   }
   .title {
      font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 42px;
   color: #ffffff;
   }
   /*HEADER */
   .header {
      position: relative;
      box-sizing: border-box;
      background-image: url("../images/bg__header.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 1;
      min-height: 900px;
      background-attachment: fixed;
   }
   .header__burger {
      display: none;
   }  
   .header__top {
      width: 100%;
      height: 90px;
   }
   

   .navigation {
      padding: 46px 0 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .header__top {
      animation-name:header__top;
      animation-duration: 1s;
   }
   .menu__list {
      text-transform: uppercase;
      display: flex;
      transition: all .3s;
      opacity: 0;
      transform: translateY(0,10%);
      transition: all 1s ease 0s;
   }
   .menu__list._active {
      opacity: 1;
      transform: translateY(0);
      transition: all 1s ease 1.2s;
   }

   .menu__list-item {
      padding: 0 13px;
   }

   .menu__link {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      margin-left: 15px;
      position: relative;
      color: #808080;
      /*задаём цвет ссылки*/
      cursor: pointer;
      line-height: 1px;
      transition: all .3s;
      /*задаём высоту строки*/
      text-decoration: none;
   }
   .menu__link--active {
      color: white;
   }
   .menu__link:hover {
      transition: .5s;
      color: #fff;
      position: relative;
   }
   .menu__link::after {
      content: "";
      display: block;
      position: absolute;
      margin-top: 5px;
      top: 20px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: red;
      background-position: center center;
      transition: 0.5s ;
   }

   .menu__link:hover::after {
      max-width: 200px;
      width: 100%;
   }
   .phone {
      padding-left: 30px;
      font-size: 25px;
      font-weight: bold;
      transition: all .5s;
      color: #ffffff;
      opacity: 0;
      transform: translateY(0,10%);
      transition: all 1s ease 0s;
   }
   
   .phone._active {
      opacity: 1;
      transform: translateY(0);
      transition: all 1s ease 1s;
   }
   .phone:hover {
      color:#FFBB01;
   }

   .header__content {
      padding: 216px 0 0 0;
      max-width: 689px;
   }
   

   .header__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 70px;
      line-height: 59px;
      color: #000;
      padding: 0 0 35px 0;
      color: #fff;
      text-shadow: 1px 1px 1px white, 0 0 3px white;
      transform: translate(0px,120%);
      opacity: 0;
      transition: all 0.6s ease 0s;
   }
   .header__title._active {
      transform: translate(0px,0px);
      opacity: 1;
      transition: all 0.6s ease 0s;
   }
   .header__subtitle{
      font-family:"Roboto";
      text-align-last: left;
      color: red;
      font-size: 70px;
      text-shadow: 1px 1px 2px red, 0 0 1em red;
      transform: translateY(0px,50%);
      opacity: 0;
      transition: all 0.6s ease 0.4s;
   }

   .header__subtitle._active{
      font-family:"Roboto";
      text-align-last: left;
      color: red;
      font-size: 70px;
      text-shadow: 1px 1px 2px red, 0 0 1em red;
      transform: translate(0);
      opacity: 1;
      transition: all 0.6s ease 0s;
   }
   .overlay {
      background-color:rgba(32, 29, 31, 0.3);
      height:100%;
      position:fixed;
      width:100%;
      top:0;
      left:0;
   }

   .header__text {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight:initial;
      font-size: 22px;
      line-height: 28px;
      text-align: left;
      color: #f0f0f0;
      margin-bottom: 38px;
      margin-top: 30px;
      transform: translate(0,10%);
      opacity: 0;
      transition: all 0.8s ease 0s;
   }

   
   .header__text._active {
      transform: translate(0px,0px);
      opacity: 1;
      transition: all 0.8s ease 0.4s;
   }
   

   .header__content-block {
      position: relative;
      z-index: -1;
      max-width: 750px;
      height: auto;
      background-color: #fff;
      opacity: .6;
   }
.button {
background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
box-shadow: 0px 4px 4px #B68500;
border-radius: 5px 5px 10px 10px;
border: 0;
font-style: normal;
text-align: center;
padding: 14px 54px 15px;
line-height: 21px;
font-weight: bold;
font-size: 15px;
text-transform: uppercase;
transition: .5s;
color: #000;
transform: translate(0px,50%);
opacity: 0;
transition: all 1.1s ease 0s;
}

.button._active {
   transform: translate(0px,0px);
      opacity: 1;
      transition: all 1.1s ease 0.9s;
}

.button:hover {
   background: linear-gradient(180deg, #dab439 100%, #FFBB01 0%);
}


/* ABOUT ME */
.about__main-title {
   padding: 64px 0 84px 0;
   font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: #ffffff;
opacity: 0;
transform: translate(0px,10%);
transition: all 0.6s ease 0s;
}
.about__main-title._active {
   opacity: 1;
   transform: translate(0);
   transition: all 0.6s ease 0s;
}

.about__column-img {
   padding: 0 0 24px 0;
}
.about__subtitle {
   padding: 0 0 16px 0;
}

.about__text {
   font-family: Roboto;
   max-width: 288px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #ffffff;
}
.about__main {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 63px 0;
   margin-top: 84px;
   margin-bottom: 120px;
}
.about__column {
   opacity: 0;
   transform: translate(0,5%);
   transition: all 0.8s ease 0s;
   height: 205px;
   color: #fff;
}
.about__column._active {
   transition: all 0.8s ease 0.4s;
   opacity: 1;
   transform: translate(0px,0px);
}

.project__title {
   padding-bottom: 90px;
   display: block;
   text-align: center;
}

.project {
   width: 100%;
   padding-top: 92px;
   background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}

.heroes__name {
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 50px;
   text-align: center;
}

.slick-btn {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border: none;
   background-color: transparent;
   z-index: 5;
   cursor: pointer;
   outline: none;

}
.slick-prev {
   left: -5%;
   top: 35%;
}

.slick-next { 
   top: 35%;
   right: -5%;
}


.copy {
   padding: 14px 0 15px;
   text-align: center;
}
.container-project {
   position: relative;
   max-width: 1420px;
   margin:0 auto;
   padding: 0 20px;
   z-index: 20;
}
.heroes__images {
border-radius: 10px;
}
.carousel {
   margin-top: 200px;
   background: linear-gradient(180deg, #0e0e0e, #012579 95.44%);
}

.carousel__inner {
   margin: 0 -7px;
   padding: 0 0 120px 0;
}

.carousel__item {
   margin: 0 7px;
}

.carousel__item-box {
   border: 1px solid #0e0e0e;
   box-shadow: 2px 2px 2px rgba(124, 31, 31, 0.671) 95.44%;
   border-radius: 10px;

   margin: 0 7px;
   text-align: center;
   transition: all .5s;
}
.carousel__item-box:hover {
   color: #fff;
   background-color: #FFBB01;
   opacity: 1;
}

.carousel__item-img {
   border: none;
   width: 100%;
   max-height: 100%;
   height: auto;
   border-radius: 10px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius:0 ;
}

.carousel__item-title {
   font-weight: 300;
   margin-bottom: 5px;
   color: #fff;
   font-weight: bold;
}

.carousel .slick-dots {
display: flex;
justify-content: center;
list-style: none;
margin-top: 50px;
}

.carousel .slick-dots button {
font-size: 0;
border: none;
padding: 0;
margin: 0 10px;
background-color: #c4c4c4;
width: 50px;
height: 1px;
}

.carousel .slick-active button {
background-color: #5A0D67;
height: 3px;
}

.carousel__title {
   margin-bottom: 100px;
   padding: 50px 0 0 0;
   text-align: center;
   font-weight: bold;   
}
.company {
   margin-bottom: 0 0 8px 0;
   padding: 0 0 16px 0;
   object-fit: cover;
   max-height: 280px;
   height: 100%;
}




/* BIO(About me) */



.bio {
   background-color: #0e0e0e;
}
.bio__img img {
   border-radius: 100%;
   width: 447px;

}
.bio__title {
   padding: 64px 0 84px 0;
}
.bio__main {
   display: flex;
   justify-content: space-between;
   color: #ffffff;
}
.bio__text {
   width: 600px;
}
.bio__text .text {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
}

/* PRICE */
   

.wraper {
   box-sizing: border-box;
   background-repeat: no-repeat;
   background-position: left;
   background-size: cover;
   min-height: 700px;
   background-image: url("../images/1593663560_46-p-zadnii-fon-65.jpg");
   background-repeat: no-repeat;
   opacity: .9 ;
   
}
.price__title {
   font-size: 45px;
   margin: 0;
   font-weight: 700;
   transform: translate(0,20%);
   transition: all .6s ease 0s;
   opacity: 0;
   position: relative;
   padding: 80px 152px 40px 152px;
   text-shadow: 1px 1px 2px white, 0 0 0em white
}

.price__title._active {
   transform: translate(0,20%);
   transition: all .6s ease 0.4s;
   opacity: 1;
}
.price__subtitle {
   font-family: Roboto;
   color: rgba(255,255,255,0.6);
   margin: 10px 150px;
   font-size: 18px;
   padding-bottom: 40px;
   transform: translate(0,20%);
   transition: all .8s ease 0s;
   opacity: 0;
}
.price__subtitle._active {
   opacity: 1;
   transform: translate(0);
   transition: all .8s ease 0.4s;
}
.price__info {
   display: flex;
}
.price__img {
   transform: translate(0,10%);
   transition: all 0.8s ease 0s;
   opacity: 0;
   margin: 0 auto;
   text-align: center;
}
.price__img._active {
   transform: translate(0);
   transition: all 0.8s ease 0.4s;
   opacity: 1;
}
.price__img img {
   padding: 0 45px;
   transition: all .5s;
}
.price__img img:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
}

/* FOOTER */
.footer__menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 40px 0 0 0;
}
.footer-menu-list ul {
   padding: 0;
}

.footer-menu-list ul li {
   margin: 10px 0 0 0;
}
.footer-menu-list ul li a {
   font-family: Roboto;
   font-size: 20px;
   color: #fff;
   font-weight: bold;
   transition: all .4s;
}
.footer-menu-list ul li a:hover {
   color: #B68500;
}
.footer-menu-contacts ul {
   padding: 0;
}
.footer-menu-contacts ul li {
   margin: 20px 0 ;
   list-style: none;
   position: relative;
}

.footer-menu-contacts ul li a {
   font-family: Roboto;
   font-size: 25px;
   color: #fff;
   font-weight: 700;
   font-weight: bold;
   margin: 0 auto;
   transition: all .4s;
}

.footer-menu-contacts ul li a:hover {
   color: #B68500;
}


.footer-menu-social {
   width: 250px;
}
.social {
   display: flex;
   list-style: none;
   justify-content: space-between;
   padding-left: 0;
}
.social li img {
   width: 35px;
   height: 25px;
   transition: all .5s;
}
.social li img:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
}
.author {
   font-family: Roboto;
   margin-top: 50px;
   text-align: center;
   line-height: 60px;
   color: #fff;
   text-shadow: 1px 1px 1px white, 0 0 1px white;
   font-size: 26px;
   background: #0e0e0e;
}


@media  (max-width:1024px) {
   .header__title {
      font-size: 60px;
      line-height: 30px;
   }
   .header__subtitle._active {
      font-size: 55px;
   }
   .header__text {
      font-size: 20px;
      line-height: 25px;
   }
   .button {
      line-height: 15px;
      font-size: 13px;
   }
   .phone {
      font-size: 20px;
   }
}



@media (max-width:768px) {
   .header__burger {
      display: block;
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 6;
      top: 0;
      left: 0;
   }
   .header__burger .header__burger-span {
      position: absolute;
      background-color: #fff;
      position: absolute;
      left: 0;
      height: 2px;
      width: 30px;
      top: 9px;
   }
   .header__burger::before,
   .header__burger::after{
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }
   .header__burger::before {
      content: "";
      top: 0;
   }
   .header__burger::after {
      content: "";
      bottom: 0;
   }

   .header__burger.activeted::before{
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.activeted .header__burger-span {
      transform: scale(0);
   }

   
   .header__burger.activeted::after{
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .header__top {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: none;
   }
   .header__top::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
   }
   .menu {
      display: flex;
      flex-direction: column;
      position: absolute;  
      align-items: center;
      margin-top: 30px;
      width: 100%;
      height: 55%;
      top: -100%;
      z-index: 4;
      background-color: rgba(0, 0, 0, 0.157);
      transition: all 0.3s ease 0s;
      left: 0;
   }
   .menu.activeted {
      top: -55px;
   }

   .menu__list {
      display: block;
      position: relative;
      z-index: 20;
      margin-top: 115px;
      opacity: 1;
      margin-right: 60px;
   }
   .menu__list li {
      position: relative;
      margin: 0 0 20px 0;
   }

   .header__title {
      font-size: 50px;
      line-height: 25px;
   }
   .header__subtitle._active {
      font-size: 45px;  
   }
   .header__text {
      font-size: 17px;
      line-height: 20px;
   }
   .button {
      line-height: 10px;
      padding: 17px 35px 15px;
   }
   .phone {
      z-index: 6;
   }
}

@media (max-width:470px) {
   .header__title {
      font-size: 45px;
      line-height: 20px;
   }
   .header__subtitle._active {
      font-size: 40px;
   }
   .header__text {
      font-size: 15px;
      line-height: 20px;
   }
   .button {
      line-height: 10px;
      padding: 17px 15px 15px;
      font-size: 10px;
   }
}

@media (max-width:424px) {
   .header__title {
      font-size: 35px;
   }
   .header__subtitle._active {
      font-size: 32px;
   }
}

